html, body {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

/*SPECIAL CLASS------------------------------*/
.special_text {
    color: red;
    text-shadow: 1px 1px black;
}

.tipe_button {
    font-family: 'Permanent Marker', cursive;
    border-style: solid;
    border-radius: 10px;
    height: 25px;
    min-width: 120px;
    background-color: black;
    border-color: red;
    border-width: 1px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}
.tipe_button:hover {
    text-shadow: 2px 2px black;
    cursor: pointer;
    background-image: linear-gradient(0deg, red 0%, transparent 50%);
}

.container {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: grey;
}

.special_font {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 1px 1px red;
}


/*HEADER------------------------------*/
.header {
    z-index: 99;
    width: 100%;
    height: 75px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.header__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-left: 2%;
    color: white;
}

.header__title:hover {
    cursor: pointer;
}

.header__title__text {
    text-shadow: 2px 2px darkred;
    margin: 0;
}

.header__title__icon {
    height: 48px;
    width: 48px;
    color: lightgray;
    margin: 0 10px;
}

.header__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2%;
    padding: 0;
    list-style: none;
}

.header__links__item {  
    margin: 0 5px;
    padding: 0 5px;
}

/*MAIN------------------------------*/
.main {
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 75px;
    display: flex;
    background-color: lightgrey;
}

/*WELCOME------------------------------*/
.welcome {
    width: 100%;
    height: 500px;
    background-image: url('https://1.bp.blogspot.com/-smV6ph_BCSM/XBD01007GNI/AAAAAAAAAC8/AJFcRe5huboxrcGq0c44kHW7wWHC5oXDwCLcBGAs/s1600/dpdpdp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome__message {
    -webkit-text-stroke: 2px white;
}

.welcome__title {
    margin: 0;
    padding: 0;
    font-size: 144px;
    transform: rotate(-10deg);
    background-image: radial-gradient(ellipse, white 50%, transparent 70%);
}


/*HOME------------------------------*/
.home {
    width: 90%;
    padding: 30px 0 50px 0;
    display: flex;
    align-items: flex-start;
}

.home__list {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding: 0;
}

.home__list__item {
    display: flex;
    flex-direction: row;
    list-style: none;
    /* padding: 0; */
    border-style: none;
    border-color: darkred;
    background: none;
    border-radius: 10px;

    padding: 10px;
    height: 50px;
    align-items: center;
}

.home__list__item__num {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 50px;
    width: 50px;
    color: white;
    border-style: solid;
    border-color: red;
    border-width: 2px;
    border-radius: 10px;
    background-color: black;
}

.home__list__item__text {
    display: flex;
    align-items: center;
    width: 280px;
    margin: 5px;
    padding: 0 20px;
    height: 50px;
}

.home__extraInfo {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.home__extraInfo__img {
    display: flex;
    min-width: 400px;
    min-height: 300px;
    flex-grow: 1;
    background-image: url('../assets/images/collage_lanzate.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.home__extraInfo__text {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-grow: 1;
    min-width: 400px;
    margin: 20px;
    padding: 20px;
}

.home__extraInfo__clearButton {
    position: relative;
    align-self: flex-end;
    justify-self: flex-end;
}


/*LIST------------------------------*/
.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 30px 0 50px 0;
    background-color: lightcoral;
}

.list__welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.list__welcome__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    list-style: none;
}

.list__welcome__list__item {
    display: flex;
}

.list__welcome__list__item__icon {
    height: 25px;
    width: 25px;
    padding-right: 5px;
}

.list__detail {
    display: flex;
    width: 90%;
    height: 500px;
}

.list__detail__image {
    display: flex;
    min-width: 60%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.list__detail__text {
    display:flex;
    flex-direction: column;
    padding: 0 20px;
}

.list__detail__text__title {
    display: flex;
    align-items: center;
}

.list__detail__text__icon {
    width: 48px;
    height: 48px;
    padding-right: 5px;
}

.list__detail__text__date {

}

/*ADD------------------------------*/
.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 30px 0 50px 0;
    background-color: lightblue;
}

.add__inscribe {
    display: flex;
    justify-content: space-evenly;
}

.add__inscribe__image {
    width: 500px;
    border-radius: 10px 0 0 10px;
}

.add__inscribe__fieldset {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    margin: 0;
    border: none;
}

.add__inscribe__fieldset > * {
    margin: 5px;
}